/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-6ozt7snvtf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6ozt7snvtf] {
    flex: 1;
}

.sidebar[b-6ozt7snvtf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.bi-gh-fill-nav-menu[b-6ozt7snvtf] {
    content: url('https://github.com/fluidicon.png');
    height: 1.5rem;
    width: 1.5rem;
}

.top-row[b-6ozt7snvtf] {
    background-color: #010409;
    border-bottom: 1px solid #3D444D;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6ozt7snvtf]  a, .top-row[b-6ozt7snvtf]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-6ozt7snvtf]  a:hover, .top-row[b-6ozt7snvtf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-6ozt7snvtf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-6ozt7snvtf] {
        justify-content: space-between;
    }

    .top-row[b-6ozt7snvtf]  a, .top-row[b-6ozt7snvtf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6ozt7snvtf] {
        flex-direction: row;
    }

    .sidebar[b-6ozt7snvtf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ozt7snvtf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6ozt7snvtf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6ozt7snvtf], article[b-6ozt7snvtf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9kbf88l01q] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9kbf88l01q] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9kbf88l01q] {
    font-size: 1.1rem;
}

.bi[b-9kbf88l01q] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

#nav-items-container[b-9kbf88l01q] {
    transition: max-height ease-in-out 0.25s;
    max-height: 1000%;
    display: flex;
}

.bi-house-door-fill-nav-menu[b-9kbf88l01q] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-9kbf88l01q] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-9kbf88l01q] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-qr-code-fill-nav-menu[b-9kbf88l01q] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-qr-code" viewBox="0 0 16 16"><path d="M2 2h2v2H2z"/><path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"/><path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"/><path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"/><path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"/></svg>')
}

.nav-item[b-9kbf88l01q] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9kbf88l01q] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9kbf88l01q] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9kbf88l01q]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9kbf88l01q]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-9kbf88l01q]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9kbf88l01q] {
        display: none;
    }

    .collapsed[b-9kbf88l01q] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-9kbf88l01q] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
@media (max-width: 640px) {
    #nav-items-container.collapsed[b-9kbf88l01q] {
        max-height: 0;
        overflow: hidden;
    }
}
/* /Pages/Home.razor.rz.scp.css */

.cv-view-button[b-zrfed09nct] {
    display: flex;
    transition: border ease-in-out 0.15s, height ease-in-out 0.15s, width ease-in-out 0.15s, color ease-in-out 0.15s;
    width: 7rem;
    height: 7rem;
}

a.cv-view-button[b-zrfed09nct] {
    text-decoration: none;
}

.cv-view-button > p[b-zrfed09nct] {
    text-align: center;
    vertical-align: text-bottom;
    margin: 0;
    margin-left: 10px;
}

.cv-view-button > span[b-zrfed09nct] {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
}

.cv-view-button:hover > span[b-zrfed09nct] {
    height: 7rem;
    width: 7rem;
}

.cv-view-button > span > svg[b-zrfed09nct] {
    height: 5rem;
    width: 5rem;
    stroke: #0d6efd;
    fill: #0d6efd;
    color: #0d6efd;
    transition: border ease-in-out 0.15s, height ease-in-out 0.15s, width ease-in-out 0.15s, stroke ease-in-out 0.25s, fill ease-in-out 0.25s, color ease-in-out 0.25s;
}

img.profile-pic[b-zrfed09nct] {
    border-radius: 50%;
    margin: 2%;
    animation-name: profile-pic-init-b-zrfed09nct;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#intro > .header[b-zrfed09nct] {
    align-content: center;
}

.profile-pic[b-zrfed09nct] {
    align-self: center;
    display: flex;
    justify-content: center;
}

#about-me[b-zrfed09nct] {
    margin: 5px 3% 5px 3%;
    padding: 30px;
    border: 1px solid #3D444D;
    border-radius: 2%;
}

#cv > .btn[b-zrfed09nct] {
    margin: 10px;
}

#cv[b-zrfed09nct] {
    display: flex;
    justify-content: center;
    animation-name: cv-swoop-in-b-zrfed09nct;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-device-width: 400px) {
    #cv[b-zrfed09nct] {
        position: absolute;
        right: 5%;
        top: 14.5%;
    }

    @keyframes cv-swoop-in-b-zrfed09nct {
        0% {
            right: 0;
        }

        100% {
            right: 5%;
        }
    }
}

@media only screen and (min-device-width: 401px) {
    #cv[b-zrfed09nct] {
        right: calc(50% - 12rem);
    }

    .cv-view-button:hover > span > svg[b-zrfed09nct] {
        height: 7rem;
        width: 7rem;
        stroke: white;
        fill: white;
        color: white;
    }

    @keyframes cv-swoop-in-b-zrfed09nct {
        0% {
            right: 0;
        }

        100% {
            right: calc(50% - 12rem);
        }
    }

    div.profile-pic[b-zrfed09nct] {
        position: relative;
        width: 100%;
        height: 350px;
    }

        div.profile-pic > *[b-zrfed09nct] {
            position: absolute;
        }

    #profile-pic-container[b-zrfed09nct] {
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
    }

    .profile-pic[b-zrfed09nct] {
        transition: ease-in-out 0.3s;
    }

    div.profile-pic-backdrop[b-zrfed09nct] {
        border-radius: 5%;
        border: 0px solid #3D444D;
        display: block;
        background-image: url('/SiteBackdrop.png');
        background-attachment: fixed;
        background-position: center;
        background-size: 350px;
        width: 0px;
        height: 0px;
        background-color: black;
        animation-name: profile-pic-init-backdrop-b-zrfed09nct;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    div.profile-pic:hover > .profile-pic-backdrop[b-zrfed09nct] {
        height: 350px;
        width: 100%;
    }

    div.profile-pic:hover > img.profile-pic[b-zrfed09nct] {
        height: 350px;
        width: 350px;
    }

    @keyframes profile-pic-init-b-zrfed09nct {
        from {
            height: 350px;
            width: 350px;
        }

        to {
            height: 260px;
            width: 260px;
        }
    }

    @keyframes profile-pic-init-backdrop-b-zrfed09nct {
        from {
            height: 350px;
            width: 100%;
        }

        to {
            width: 0px;
            height: 0px;
        }
    }

    #cv-separator[b-zrfed09nct] {
        content: " | ";
    }
}
/* /Pages/QRCodeGeneratorTool.Razor.rz.scp.css */
.input-container[b-bqrzgvjag7] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcode-info-col[b-bqrzgvjag7] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#output-qrcode[b-bqrzgvjag7] {
    width: 15rem;
    height: 15rem;
    image-rendering: pixelated;
}

.input-label-container[b-bqrzgvjag7] {
    display: flex;
    align-items: center;
    justify-content: right;
}

.input-row[b-bqrzgvjag7] {
    margin: .5rem;
}
