@page "/"
@inject HttpClient Http

<PageTitle>@Language.CurrentLanguage.ShortSiteTitle | @Language.CurrentLanguage.Home</PageTitle>

<div id="intro">
    <div class="header">
        <div id="profile-pic-container" class="profile-pic">
            <div class="profile-pic profile-pic-backdrop" />
            <img class="profile-pic" src="/professional-pic.jpg" width="260" height="260" /> 
            <div id="cv">
                <a id="cv-english" class="cv-view-button" href="@Language.CurrentLanguage.CVUri" target="_blank">
                    <span aria-hidden="true">
                        <svg width="205" height="205" viewBox="-2 -2 209 209" fill="unset" xmlns="http://www.w3.org/2000/svg"><g><title>Layer 1</title><ellipse fill="none" stroke="unset" cx="102.52708" cy="102.52708" id="svg_1" rx="100" ry="100" stroke-width="8" /><path fill="none" stroke="unset" opacity="undefined" d="m52.52708,42.52708l100,0l0,120l-100,0l0,-120z" id="svg_3" stroke-width="8" /><text fill="unset000" stroke="unset" x="62.52708" y="77.52708" id="svg_4" stroke-width="0" font-size="24" font-family="Cabin" text-anchor="start" xml:space="preserve" font-weight="bold">CV</text><rect fill="none" x="77.52708" y="92.52708" width="8" height="8" id="svg_5" stroke="unset" stroke-width="3" /><rect fill="none" x="77.52708" y="107.52708" width="8" height="8" id="svg_6" stroke="unset" stroke-width="3" /><rect fill="none" x="92.52708" y="92.52708" width="50" height="8" id="svg_7" stroke="unset" stroke-width="3" /><rect fill="none" x="92.52708" y="107.52708" width="50" height="8" id="svg_8" stroke="unset" stroke-width="3" /><rect fill="none" x="107.52708" y="122.52708" width="35" height="8" id="svg_9" stroke="unset" stroke-width="3" /><rect fill="none" x="107.52708" y="137.52708" width="35" height="8" id="svg_10" stroke="unset" stroke-width="3" /><g id="svg_2"><path id="svg_11" d="m129.52708,67.61008a5.041,5.041 0 1 0 0,-10.083a5.041,5.041 0 0 0 0,10.083zm0,2.215c-6.703,0 -11,3.699 -11,5.5l0,3.363l22,0l0,-3.363c0,-2.178 -4.068,-5.5 -11,-5.5z" /></g></g></svg>
                    </span>
                </a>
            </div>
        </div>

    </div>

    <div id="about-me">
        <h3>
            @Language.CurrentLanguage.AboutMe
        </h3>
        @Markup
    </div>
</div>