.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcode-info-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#output-qrcode {
    width: 15rem;
    height: 15rem;
    image-rendering: pixelated;
}

.input-label-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.input-row {
    margin: .5rem;
}
